@charset "utf-8";
/* common.scss */


body {
    color: blue;
    p{
      color: #222;
    }
    #container > p {
       color: red;
    }
    .swiper{
       margin-top:30px;
       border:1px solid #000;
       text-align:center;
    }


 }

// @import '../assets/spritesmith-generated/sprite1.scss';
// .cont1_right1{@include sprite($cont1-right1);}

@import '../assets/spritesmith-generated/sprite2.scss';
.imgs2_1{@include sprite($imgs2-1);}