// @charset "utf-8";
@import url('https://acaimg.etoos.com/common/font/notosanskr.css');
/* common.scss */


body {
   font-family: 'Noto Sans Kr';
   color: blue;
   font-size: 14px;
    p{
      color: #222;
    }
    #container > p {
      font-size: 20px; 
      color: red;
    }
    .swiper{
       margin-top:30px;
       border:1px solid #000;
       text-align:center;
    }


 }

@import '../assets/spritesmith-generated/sprite1.scss';
.cont1_right1{@include sprite($cont1-right1);}

@import '../assets/spritesmith-generated/sprite2.scss';
.imgs2_1{@include sprite($imgs2-1);}